html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ======================================================================= Global Start =========================================== */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Khand', sans-serif;
  background-color: #171717;
}

/* ================== Fonts Family Start ==================*/
.fk {
  font-family: 'Khand', sans-serif;
}

/* ================== Fonts Family End ==================*/

/* ================== Buttons Start ==================*/
.red-btn {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 30px;
  border-radius: 15px;
  background-color: #C11F26;
  border: 1px solid #C11F26;
  transition: 0.3s ease-in-out;
}

.red-btn:hover {
  background-color: black;
  border: 1px solid black;
  transition: 0.3s ease-in-out;
}

/* ================== Buttons End ==================*/
/* ================== Footer Start ==================*/

.footer-bottom p {
  border-top: 1px solid white;
  padding: 30px 0;
  margin-top: 36px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  min-width: 50px;
}

/* ================== Footer End  ==================*/
/* ================== Nav Start here  ==================*/
a.navbar-brand img {
  width: 200px;
}

.navbar a.nav-link {
  font-size: 24px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
  border: none;
}

.custom-nav {
  background-color: #f1f1f1;
}

/* ================== Nav End here  ==================*/
/* ================== Banner Start here  ==================*/
.carousel-img {
  height: 700px;
}

/* ================== Banner End here  ==================*/
/* ================== Frontend Start here  ==================*/
.frontend-projects {
  font-size: 60px;
  margin: 100px 0 50px 0;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

.category-product {
  background-color: #F9F9F9;
  padding: 20px 15px;
  position: relative;
  overflow: hidden;
}

.category-image {
  display: block;
  height: auto;
  width: 247px;
  height: 177px;
  object-fit: contain;
  object-position: center;
}

.category-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #231F20;
  transform: translateY(-150px);
}

.category-product:hover .category-overlay {
  opacity: 0.4;
  transform: translateY(0px);
}

.category-text {
  color: #231F20;
  font-size: 18px;
  font-weight: 500;
  background-color: white;
  padding: 15px 15px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 160px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
}

.category-product:hover .category-text {
  opacity: 1;
}

.product-main {
  border: 1px solid #fff;
}

.contact-label,
.footernumber,
.footernumber:hover {
  color: white;
  font-size: 20px;
  font-weight: 600;
  min-width: 50px;
  text-decoration: none;
}

/* ================== Frontend End here  ==================*/
/* ======================================================================= Global End =========================================== */
/* ======================= Media Queries =========================================== */
@media(max-width:991px) {
  .frontend-projects {
    font-size: 50px;
    margin: 40px 0 30px 0;
  }
}

@media(max-width:767px) {
  .frontend-projects {
    font-size: 30px;
    margin: 40px 0 30px 0;
  }

  .contact-label,
  .footernumber,
  .footernumber:hover {
    font-size: 18px;
  }

  a.navbar-brand img {
    width: 120px;
  }
}

@media(max-width:576px) {}